# Backend
fastapi==0.118.0
uvicorn[standard]==0.37.0

# Frontend
streamlit==1.62.0
requests==2.34.2

# Environment
python-dotenv==1.2.3
python-multipart==0.0.20

# OpenAI
openai==1.107.2

# Retrieval
qdrant-client==1.15.1
rank-bm25==0.2.2

# Embeddings
sentence-transformers==5.1.0
transformers==4.56.0
torch==2.8.0
torchvision==0.23.0
huggingface_hub==0.35.0
safetensors==0.6.2

# Scientific
numpy==2.3.3
scipy==1.16.2
scikit-learn==1.7.2
joblib==1.5.2
threadpoolctl==3.6.0

# PDF Parsing
pymupdf==1.26.4

# Utilities
pydantic==2.11.9
PyYAML==6.0.2
orjson==3.11.3
tqdm==4.67.1
regex==2025.9.1
typing_extensions==4.15.0